.carousel-indicators button {
    background-color: #ff5733;  /* Inactive indicator color */
}

.carousel-indicators .active {
    background-color: #1abc9c;  /* Active indicator color */
}

/* Style the carousel control buttons (previous and next) */
.carousel-control-prev-icon, 
.carousel-control-next-icon {
    background-color: #3350df;  /* Color of the previous and next buttons */
}